<div class="card horizontal hoverable rated-<%= m.rating %>" data-controller="movie-card" data-showtimes="hidden">
  <div class="card-image">
    <img class="side-poster" src="<%= m.poster %>">
  </div>
  <div class="card-stacked">
    <div class="top-poster">
      <img src="<%= m.poster %>">
      <h2><%= m.title %></h2>
      <h3><%= m.rating %></h3>
    </div>
    <div class="card-content">
      <div class="title-rating">
        <h2><%= m.title %></h2>
        <h3><%= m.rating %></h3>
      </div>
      <p><%= m.overview %> </p>
      <p>
        <%if m.runtime %>
          Runtime: <%= m.runtime %>
        <% end %>
        <% if m.genre %>
          <br><%= m.genre %>
        <% end %>
        <% if m.box_office %>
          <br>Box Office: <%= m.box_office %>
        <% end %>
        <% if m.trailers.count > 0 %>
          <p data-movie-card-target="trailer">
            <%= link_to "Show trailer(s)", movie_trailer_path(m), data: { remote: true, action: 'ajax:success->movie-card#renderTrailer' } %>
          </p>
        <% end %>
      </p>
      <% if m.rotten_tomatoes.present? %>
        <span class="badge red flow-text" data-badge-caption="Rotten Tomatoes"><%= m.rotten_tomatoes %></span>
      <% end %>
      <% if m.imdb_rating.present? && m.imdb_rating != '0' %>
        <span class="badge green flow-text" data-badge-caption="IMDB"><%= m.imdb_rating %></span>
      <% end %>
      <% if m.metascore.present? %>
        <span class="badge yellow darken-1 flow-text" data-badge-caption="MetaScore"><%= m.metascore %></span>
      <% end %>
    </div>
    <div class="show-showtimes">
      <a class="waves-effect waves-light btn" data-action="movie-card#toggleShowtimes">
        <i class="material-icons right" data-target="movie-card.icon">local_movies</i>
        Showtimes
      </a>
    </div>
    <div class="theater-showtimes" data-target="movie-card.showtimes">
      <% m.theaters.order_by_name.uniq.each do |t| %>
        <% next if m.showings.theater_on_date(t, Date.current).blank? %>
        <div class="card-action">
          <h4><%= t.name %></h4>
          <% m.showings.theater_on_date(t, Date.current).each do |s| %>
            <div class="row">
            <% ampm = "" %>
              <% s.showtimes.each do |st| %>
              <% ampm = find_meridian(st) %>
                <div class="col l3 m6 s6 showtimes">
                  <i class="material-icons">access_time</i>
                  <%= normalize_times(st) %> <%= ampm %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>