<h1>Movies</h1>
<div data-controller="filter">
  <span data-target="filter.output"></span>
  <div data-action="click->filter#toggleG" data-target="filter.g" class="chip green lighten-2">G</div>
  <div data-action="click->filter#togglePG" data-target="filter.pg" class="chip green lighten-2">PG</div>
  <div data-action="click->filter#togglePG13" data-target="filter.pg13" class="chip green lighten-2">PG-13</div>
  <div data-action="click->filter#toggleR" data-target="filter.r" class="chip green lighten-2">R</div>
</div>
<% @movies.each do |m| %>
  <div class="card horizontal hoverable hide-on-small-only <%= m.rating %>">
    <div class="card-image">
      <img src="<%= m.poster %>">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h2><%= m.title %></h2>
        <h3><%= m.rating %></h3>
        <p><%= m.overview %></p>
      </div>
      <% m.theaters.each do |t| %>
        <div class="card-action">
          <h4><%= t.name %></h4>
          <% m.showings.where(theater_id: t.id, play_date: Date.today).each do |s| %>
            <% s.showtimes.each do |st| %>
              <div style="display: inline; margin-right: 25px;font-size: 1.1em;">
                <i class="material-icons">access_time</i>
                <%= normalize_times(st) %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card hoverable hide-on-med-and-up <%= m.rating %>">
    <div class="card-image">
      <img src="<%= m.poster %>">
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <h2><%= m.title %></h2>
        <h3><%= m.rating %></h3>
        <p><%= m.overview %></p>
      </div>
      <% m.theaters.each do |t| %>
        <div class="card-action">
          <h4><%= t.name %></h4>
          <% m.showings.where(theater_id: t.id, play_date: Date.today).each do |s| %>
            <% s.showtimes.each do |st| %>
              <div style="display: inline; margin-right: 25px;font-size: 1.2em;">
                <i class="material-icons">access_time</i>
                <%= normalize_times(st) %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>