<h1>Movies</h1>
<div data-controller="filter" id="rating_filter">
  <span data-target="filter.output"></span>
  <div data-action="click->filter#toggleG" data-target="filter.g" class="chip green lighten-2">G</div>
  <div data-action="click->filter#togglePG" data-target="filter.pg" class="chip green lighten-2">PG</div>
  <div data-action="click->filter#togglePG13" data-target="filter.pg13" class="chip green lighten-2">PG-13</div>
  <div data-action="click->filter#toggleR" data-target="filter.r" class="chip green lighten-2">R</div>
</div>
<% @movies.each do |m| %>
  <div class="card horizontal hoverable rated-<%= m.rating %>">
    <div class="card-image">
      <img class="side-poster" src="<%= m.poster %>">
    </div>
    <div class="card-stacked">
      <div class="top-poster">
        <img src="<%= m.poster %>">
        <h2><%= m.title %></h2>
        <h3><%= m.rating %></h3>
      </div>
      <div class="card-content">
        <p><%= m.overview %></p>
        <span class="badge green flow-text" data-badge-caption="IMDB"><%= m.imdb_rating %></span>
        <span class="badge yellow darken-1 flow-text" data-badge-caption="MetaScore"><%= m.metascore %></span>
      </div>
      <% m.theaters.uniq.each do |t| %>
        <% next if m.showings.theater_on_date(t, Date.today).blank? %>
        <div class="card-action">
          <h4><%= t.name %></h4>
          <% m.showings.theater_on_date(t, Date.today).each do |s| %>
            <div class="row">
              <% s.showtimes.each do |st| %>
                <div class="col l3 m6 s6 showtimes">
                  <i class="material-icons">access_time</i>
                  <%= normalize_times(st) %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>