<%= form_with model: @theater do |f| %>
  <div class="input-field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="input-field">
    <%= f.label :imdb_name %><br>
    <%= f.text_field :imdb_name %>
  </div>

  <div class="input-field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="input-field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="input-field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>

  <div class="input-field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>

  <div class="input-field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>

  <div class="input-field">
    <%= f.label :website %><br>
    <%= f.phone_field :website %>
  </div>

  <p>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </p>
<% end %>